body{
    margin:0;
}
header{
    height:120px;
    margin:0;
    background-image: url('/img/pattern.png');
    background-color: #4E9FFE;
    background-
}

#logo{
    width:200px;
    height:40px;
    padding-top:80px;
}